[data-theme="dark"] {
  --color-primary: #B53146;
  --color-secondary: #D12F31;
  --color-text: #EAEAEA;
  --color-text-offset: #B0B0B0;
  --color-background: #000000;
  --color-background-offset: #1A1A1A;
  --color-border: #1A1A1A;
}
