[data-theme="dark"] {
  --color-primary: #DA0004;
  --color-secondary: #AA1919s;
  --color-text: #EAEAEA;
  --color-text-offset: #B0B0B0;
  --color-background: #000000;
  --color-background-offset: #1A1A1A;
  --color-border: #1A1A1A;
}
