---
import backgroundImage from "@/wall-03.png";
---

<footer class="relative flex h-20 flex-col items-center justify-center">
  <div class="absolute inset-0 overflow-hidden">
    <img class="h-full w-full object-cover" src={backgroundImage.src} alt="2SYNTH - Background" />
  </div>
  <div class="relative w-full">
    <p class="text-center text-black text-lg">
      <a href="https://instagram.com/alfxrxz" class="text-[#863B87]">
        ★ ALFXRXZ ★
      </a>
    </p>
  </div>
</footer>

<style>
  p {
    font-family: Mazzy TM;
  }
</style>
