---
import { Icon } from "astro-icon/components";
import BackgroundImage from "~/components/background-footer-image.astro";
---

<footer class="relative flex flex-col h-20 items-center justify-center">
  <div class="absolute inset-0 overflow-hidden">
    <BackgroundImage />
  </div>
  <div class="relative w-full">
    <p class="text-center text-black text-lg">
      <a href="https://github.com/LurchingDart" class="text-[#863B87]">★ Luis Alferez ★</a>
    </p>
  </div>
</footer>

<style>
  p {
    font-family: UnifrakturCook;
  }
</style>