---
import { Image } from "astro:assets";
import skullImage from "~/assets/skull.png";

const widths = [1024, 1024];
---

<section class="h-full">
  <div
    class="flex h-full flex-col place-items-center justify-center space-y-10"
  >
    <div>
      <h1 class="text-6xl">INFERNO</h1>
      <p class="text-2xl">Something is coming...</p>
    </div>
    <Image
      class="w-5/12 md:w-1/5"
      src={skullImage}
      widths={widths}
      loading="eager"
      alt="A demon cat"
    />
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  h1 {
    color: #fff;
    font-family: "New Rocker", cursive;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  p {
    color: #fff;
    text-align: center;
    font-family: "Grenze Gotisch Variable", cursive;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
</style>
