---
import { Image } from "astro:assets";
import EyesXEyes from "../assets/eyes.png";

const widths = [1024, 1024];
---

<section class="relative flex min-h-svh">
  <Image
    class="absolute inset-0 -z-10 h-full w-screen max-w-[3840px] object-cover opacity-60"
    src={EyesXEyes}
    widths={widths}
    loading="eager"
    alt="Background image"
  />
  <div class="flex flex-1 items-center justify-center">
    <h1 class="text-[8rem] sm:text-9xl">INFERNO</h1>
  </div>
</section>

<style>
  h1 {
    color: #b53146;
    font-family: "BootzyTM", cursive;
  }
</style>
