---
import { Image } from "astro:assets";
import catImage from "~/assets/cat.png";
import BackgroundImage from "~/components/background-image.astro";

const widths = [256, 256];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section class="relative h-full">
  <div class="absolute inset-0 overflow-hidden">
    <BackgroundImage />
  </div>
  <div class="relative flex flex-col h-full place-items-center p-6">
    <h2 class="border-4 border-red-500 bg-gradient-to-b from-amber-900 to-black bg-clip-text text-transparent text-center font-extrabold tracking-tighter text-6xl md:text-8xl">
      INFERNO
    </h2>
    <Image
        class="sm:w-3/4 border-green-500 border-2"
        src={catImage}
        widths={widths}
        sizes={sizes}
        loading="eager"
        alt="A floating astronaut in a space suit"
    />
    <div class="text-center border-2 border-amber-800">
        <h1>
            COSTUME PARTY
        </h1>
        <p>
            FRIDAY, NOVEMBER 1ST 08:00 PM
        </p>
        <p>
            1234 MAIN STREET, SAN FRANCISCO
        </p>
    </div>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
    h1 {
        font-family: "Old Standard TT", serif;
    }
</style>