---
import { Image } from "astro:assets";
import catImage from "~/assets/cat.png";
import BackgroundImage from "~/components/background-image.astro";

const widths = [1024, 1024];
const sizes = "(min-width: 250px) 256px";
---

<section class="relative h-full">
  <div class="absolute inset-0 overflow-hidden">
    <BackgroundImage />
  </div>
  <div class="relative flex flex-col h-full place-items-center p-6">
        <h1 class="">
            INFERNO
        </h1>
        <h2>
            HALLOWEEN
        </h2>
    <Image
        class="w-2/3 md:w-1/5 border-green-500 border-2"
        src={catImage}
        widths={widths}
        loading="eager"
        alt="A demon cat"
    />
    <div class="text-center border-2 border-amber-800">
        <h2>
            COSTUME PARTY
        </h2>
        <p>
            FRIDAY, NOVEMBER 1ST 08:00 PM
        </p>
        <p>
            1234 MAIN STREET, SAN FRANCISCO
        </p>
    </div>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
    h1 {
        color: #000;
        font-family: "New Rocker";
        font-size: 64px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    h2 {
        color: #000;
        text-align: center;
        font-family: "Old Standard TT",serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    <p>

</style>