---
import EyesXEyes from "@/eyes.png";
---

<section class="relative flex min-h-svh">
  <img
    class="absolute inset-0 -z-10 h-full w-screen max-w-[3840px] object-cover opacity-60"
    src={EyesXEyes.src}
    width={EyesXEyes.width}
    height={EyesXEyes.height}
    loading="eager"
    alt="Background image"
  />
  <div class="flex flex-1 items-center justify-center">
    <h1 class="text-[8rem] sm:text-9xl">INFERNO</h1>
  </div>
</section>

<style>
  h1 {
    color: #b53146;
    font-family: "BootzyTM", cursive;
  }
</style>
