---
import { Image } from "astro:assets";
import catImage from "~/assets/cat.png";
import BackgroundImage from "~/components/background-image.astro";

const widths = [256, 256];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section class="relative h-full">
  <div class="absolute inset-0 overflow-hidden">
    <BackgroundImage />
  </div>
  <div class="relative grid h-full place-items-center sm:grid-cols-5 p-6 border border-green-500">
    <h2 class="flex flex-col items-center gap-2 self-end sm:gap-4 sm:self-auto sm:justify-self-end">
      <div class="bg-gradient-to-b from-amber-900 to-black bg-clip-text text-transparent text-center font-extrabold tracking-tighter text-6xl md:text-8xl">
        INFERNO<br /> HALLOWEEN
      </div>
    </h2>
    <Image
        class="sm:w-3/4"
        src={catImage}
        widths={widths}
        sizes={sizes}
        loading="eager"
        alt="A floating astronaut in a space suit"
    />
    <div>
        <p class="text-center text-gray-950 text-lg sm:text-xl">
            A party you won't forget or maybe you will, but hey, it's Halloween Party and you're invited!
        </p>
        <div class="flex justify-center gap-4 mt-8">
            <a
            href="#"
            class="btn btn-primary"
            >
            RSVP
            </a>
            <a
            href="#"
            class="btn btn-secondary"
            >
            More Info
            </a>
        </div>
    </div>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>
